# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Java / Maven
# ==============================
backend/target/
*.class

# ==============================
# Node / React
# ==============================
frontend/node_modules/
frontend/dist/
frontend/.vite/

backend/node_modules/

# ==============================
# Python
# ==============================
ml-service/__pycache__/
ml-service/*.pyc
ml-service/.venv/
ml-service/venv/

# ==============================
# IDE
# ==============================
.idea/
.vscode/
*.iml

.classpath
.factorypath
.project
.settings/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db